@primaryColor: #cf6f82;
@accentColor: #55d6be;
@shadowColor: rgba(0, 0, 0, 0.5);
@titleTextColor: rgba(0, 0, 0, 0.87);
@navTextColor: rgba(0, 0, 0, 0.54);
@linkColor: rgba(255, 255, 255, 0.87);
@linkActiveColor: white;
