@import "colors";

html body .container-fluid {
  overflow: hidden;
}

.fullheight {
  min-height: 100%;
  min-height: 100vh;
  max-height: 100%;
  max-height: 100vh;
}

.shadow (@h-shadow: 1px, @v-shadow: 1px, @blur: 3px, @spray: 0px) {
  -webkit-box-shadow: @h-shadow @v-shadow @blur @spray @shadowColor;
  -moz-box-shadow: @h-shadow @v-shadow @blur @spray @shadowColor;
  box-shadow: @h-shadow @v-shadow @blur @spray @shadowColor;
  z-index: 1;
  position: relative;
}

.glyphicon {
  margin-right: 10px;
}

.header-row {
  .shadow(0px, 0px);
}

#sidebar-wrapper {
  width: auto;
  height: 100%;
  background-color: @primaryColor;
  overflow-y: auto;
}

.sidebar-nav {
  top: 0;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
  li {
    margin-left: 10px;
    margin-top: 10px;
    a {
      display: block;
      text-decoration: none;
      color: @linkColor;
      &:hover {
        color: @linkActiveColor;
      }
    }
  }
}

.active {
  color: @linkActiveColor !important;
}

.info-text {
  color: @navTextColor;
  &.jumbotron {
    background-color: transparent;
    border: none;
    margin-top: 10%;
  }
}

.course-name, .module-name {
  color: @courseNameColor;
}

.course-desc, .module-desc {
  color: @courseDescColor;
  word-wrap: break-word;
}

.course, .module {
  .shadow(0px, 0px);
  &:hover {
    .shadow(0px, 0px, 6px);
  }
  margin-top: 30px;
  &.jumbotron {
    background-color: white;
    border: none;
    border-radius: 0px;
    padding: 5px 5px 5px 5px;
  }
  .course-name, .module-name {
    font-size: 16px;
    color: @courseNameColor;
    margin-top: 5px;
    margin-left: 5px;
  }
  .course-desc, .module-desc {
    font-size: 14px;
    color: @courseDescColor;
    margin-top: 5px;
    margin-left: 5px;
    word-wrap: break-word;
  }
}

.main-column {
  background-color: @mainBgColor;
}

.modal {
  z-index: 9999;
}

.btn-default {
  color: @linkActiveColor !important;
  background-color: darken(@primaryColor, 7%) !important;
  border: none !important;
  border-radius: 0px !important;
  &:hover {
    background-color: @primaryColor !important;
  }
  &.btn-enroll {
    margin-top: 10px !important;
  }
}

.cbg-primary {
  background-color: @primaryColor;
}

.cbg-darken {
  background-color: darken(@primaryColor, 7%);
  color: white;
}
