@import "colors";

html, body, .container-fluid {
  height: 100%;
}

.fullheight {
  height: 100%;
}

a {
  text-decoration: none;
}

.shadow {
  -webkit-box-shadow: 0px 1px 3px @shadowColor;
  -moz-box-shadow: 0px 1px 3px @shadowColor;
  box-shadow: 0px 1px 3px @shadowColor;
}

.bg-primary {
  background-color: @primaryColor;
}

.bg-warning {
  background-color: darken(@primaryColor, 7%);
  color: white;
}
