@import "colors";

.addModule {
  border-style: dashed;
  border-width: medium;
  text-align: center;
  color: @shadowColor;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui-state-highlight {
  background-color: fade(lighten(@primaryColor, 10%), 80%);
}
