<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SDP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" media="all" type="text/css"/>
    <link rel="stylesheet/less" href="{% static "general/general.less" %}" media="all" type="text/css"/>
    <link rel="stylesheet/less" href="{% static "general/instructor.less" %}" media="all" type="text/css"/>
    <script src="{% static "js/jquery-3.1.1.min.js" %}" charset="utf-8"></script>
    <script src="{% static "js/less.min.js" %}" charset="utf-8"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}" charset="utf-8"></script>
    <script src="{% static "js/common.js" %}" charset="utf-8"></script>
    <script src="{% static "js/general/instructor.ajax.js" %}" charset="utf-8"></script>
  </head>
  <body>
    <!-- Main viewpoint container -->
    <div class="container-fluid fullheight">
      <!-- Header row -->
      <div class="row header-row">
        <!-- Brand -->
        <div class="col-sm-2 cbg-darken">
          <h3>SDP</h3>
        </div>
        <!-- Header text -->
        <div class="col-sm-10">
          <h3 id="header-text">Home</h3>
        </div>
      </div> <!-- End header row -->

      <!-- Content row -->
      <div class="row fullheight">
        <!-- Navigation column -->
        <div class="col-sm-2 cbg-primary fullheight">
          <!-- Sidebar menu -->
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <!-- Menu item: Home -->
              <li>
                <a class="active" href="#" id="home">
                  <span class="glyphicon glyphicon-home"></span>Home
                </a>
              </li>

              <!-- Menu item: Catalog -->
              <li>
                <a href="#" id="createCourse">
                  <span class="glyphicon glyphicon-plus"></span>Create Course
                </a>
              </li>
            </ul>
          </div>
        </div> <!-- End navigation -->

        <!-- Main content container -->
        <div class="col-sm-10 fullheight main-column">
          <div class="container-fluid fullheight pre-scrollable" id="main-content">
            {% if developingCourses %}
            <!-- Show developing courses -->
            <div>
              <h4 class="info-text page-header">Developing</h4>
            </div>
            {% for course in developingCourses %}
            <div class="course developingCourse jumbotron" id="{{ course.id }}">
              <p class="course-name">{{ course.name }}</p>
              <p class="course-desc">{{ course.description }}</p>
            </div>
            {% endfor %}
            {% endif %}

            {% if openCourses %}
            <!-- List open courses -->
            <div>
              <h4 class="info-text page-header">Opened</h4>
            </div>
            {% for course in openCourses %}
            <div class="course openCourse jumbotron" id="{{ course.id }}">
              <p class="course-name">{{ course.name }}</p>
              <p class="course-desc">{{ course.description }}</p>
            </div>
            {% endfor %}
            {% endif %}

            {% if not developingCourses and not openCourses %}
            <!-- If no courses, display default message -->
            <div class="container-fluid fullheight centered text-center">
              <h3 class="info-text jumbotron">
                You haven't developed any course yet.<br>
                Create a course to start!
              </h3>
            </div>
            {% endif %}
          </div>
        </div> <!-- End main content container -->
      </div> <!-- End content row -->

      <!-- Error modal dialog -->
      <div class="modal fade" id="errorModal" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
              <p>An error occurred.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> <!-- End modal -->
    </div> <!-- End viewpoint container -->
  </body>
</html>
