<form action="" method="post">{% csrf_token %}
    
  username: <input type="text" name="username"><br>
  password: <input type="text" name="password"><br>
  usertype: <select name="usertype" >
                <option value = "Instructor">Instructor</option>
                <option value = "Participant">Participant</option>
                <option value = "HR">HR</option>
                <option value="Administrator">Administrator</option>
            </select>
  <input type="submit" value="Submit">
</form>