<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded components -->

        <!-- Upload form. Note enctype attribute! -->
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>text: <input type="text" name="text"></p>
            <p>file: <input type="file" name="file"></p>
            <p>index: <input type="text" name="index"></p>
                usertype: <select name="typeName" >
                <option value = "TEXT">text</option>
                <option value = "IMAGE">image</option>
                <option value = "FILE">file</option>
            </select>
            <p><input type="submit" value="Upload" /></p>

        </form>
    </body>
</html> 