{% extends 'general/base.html' %}

{% load static %}

{% block self-style %}
<link rel="stylesheet/less" href="{% static "general/participant.less" %}" media="all" type="text/css"/>
{% endblock %}

{% block self-script %}
<script src="{% static "js/general/participantIndex.js" %}" charset="utf-8"></script>
{% endblock %}

{% block nav %}
<!-- Menu item: Home -->
<li>
  <a class="active" href="#" id="home">
    <span class="glyphicon glyphicon-home"></span>Home
  </a>
</li>

<!-- Menu item: Catalog -->
<li>
  <a href="#" data-toggle="collapse" data-target="#categories" id="catalog">
    <span class="glyphicon glyphicon-book"></span>Catalog
  </a>
</li>

<!-- Collapse sub-menu: categories -->
<div class="collapse" id="categories">
  <!-- List all categories -->
  {% for category in categoryList %}
  <li>
    <a href="#" class="category" id="{{ category.id }}">{{ category.name }}</a>
  </li>
  {% endfor %}
</div>

<!-- Logout -->
<div class="menu-bottom">
  <li>
    <a href="/logout/" class="link" id="logout">
      <span class="glyphicon glyphicon-log-out"></span>Logout
    </a>
  </li>
</div>
{% endblock %}

{% block main-content %}
{% if currentCourse %}
<!-- Show current course -->
<div>
  <h4 class="info-text page-header">In Progress</h4>
</div>
<a href="#">
  <div class="course currentCourse jumbotron" id="{{ currentCourse.id }}">
    <p class="course-name">{{ currentCourse.name }}</p>
    <p class="course-desc">{{ currentCourse.description }}</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}"
      aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
        <span>{{ progress }}% Complete</span>
      </div>
    </div>
  </div>
</a>
{% endif %}

{% if completedCourses %}
<!-- List taken courses -->
<div>
  <h4 class="info-text page-header">Completed</h4>
</div>
{% for course in completedCourses %}
<a href="#">
  <div class="course currentCourse jumbotron" id="{{ course.id }}">
    <p class="course-name">{{ course.name }}</p>
    <p class="course-desc">{{ course.description }}</p>
  </div>
</a>
{% endfor %}
{% endif %}

{% if not currentCourse and not completedCourses %}
<!-- If no courses, display default message -->
<div class="container-fluid centered text-center">
  <h3 class="info-text jumbotron">
    You haven't taken any course yet.<br>
    Choose a category to explore!
  </h3>
</div>
{% endif %}
{% endblock %}
