{% extends 'general/base.html' %}

{% load static %}

{% block self-style %}
<link rel="stylesheet/less" href="{% static "general/participant.less" %}" media="all" type="text/css"/>
{% endblock %}

{% block self-script %}
<script src="{% static "js/general/participantCourse.js" %}" charset="utf-8"></script>
{% endblock %}

{% block header %}{{ course.name }}{% endblock %}

{% block nav %}
<!-- Menu item: Home -->
<li>
  <a href="#" id="home">
    <span class="glyphicon glyphicon-home"></span>Home
  </a>
</li>

<!-- Menu item: Catalog -->
<li>
  <a href="#" data-toggle="collapse" data-target="#categories" id="catalog">
    <span class="glyphicon glyphicon-book"></span>Catalog
  </a>
</li>

<!-- Collapse sub-menu: categories -->
<div class="collapse" id="categories">
  <!-- List all categories -->
  {% for category in categoryList %}
  <li>
    <a href="#" class="category" id="{{ category.id }}">{{ category.name }}</a>
  </li>
  {% endfor %}
</div>

<!-- Logout -->
<div class="menu-bottom">
  <li>
    <a href="/logout/" class="link" id="logout">
      <span class="glyphicon glyphicon-log-out"></span>Logout
    </a>
  </li>
</div>
{% endblock %}

{% block main-content %}
<!-- Course description row -->
<div class="row page-header">
  <div class="col-sm-11">
    <h4 class="course-desc">{{ course.description }}</h4>
    <h4 class="course-desc">Instructor: {{ course.instructor }}</h4>
  </div>
  {% if status == 'isTaking' %}
  <div class="col-sm-1">
    <button type="button" class="btn btn-default btn-lg btn-act" id="DROP">Drop</button>
  </div>
  {% elif status == 'hasTaken' %}
  <div class="col-sm-1">
    <button type="button" {% if hasEnrolled %}disabled{% endif %}  class="btn btn-default btn-lg btn-act" id="RETAKE">Retake</button>
  </div>
  {% elif status == 'notTaken' %}
  <div class="col-sm-1">
    <button type="button" {% if hasEnrolled %}disabled{% endif %}  class="btn btn-default btn-lg btn-act" id="ENROLL">Enroll</button>
  </div>
  {% endif %}
</div> <!-- End course description row -->

<div class="modules-container">
  <ul class="jumbotron-list">
  {% for module in modules %}
  <!-- List modules in course -->
    <li>
      <div class="row">
        <div class="col-sm-12">
          {% if module.index <= visibility %}
          <a href="#">
          {% endif %}
            <div class="module jumbotron {% if module.index > visibility %}disabled{% endif %}" id="{{ module.index }}">
              <p class="module-name">{{ module.name }}</p>
              <p class="module-desc">{{ module.description }}</p>
            </div>
          {% if module.index <= visibility %}
          </a>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}

{% block extra-modal %}
<!-- Confirm modal dialog -->
<div class="modal fade" id="confirmModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure to
          {% if status == 'isTaking' %}drop
          {% elif status == 'hasTaken' %}retake
          {% elif status == 'notTaken' %}enroll in
          {% endif %} course<br>{{ course.name }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-confirm" data-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> <!-- End modal -->

<!-- Success modal dialog -->
<div class="modal fade" id="successModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-success" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Success</h4>
      </div>
      <div class="modal-body">
        <p>Course<br>{{ course.name }}<br>
          {% if status == 'isTaking' %}dropped
          {% elif status == 'hasTaken' %}re-enrolled
          {% elif status == 'notTaken' %}enrolled
          {% endif %} successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- End modal -->

<!-- Fail modal dialog -->
<div class="modal fade" id="failModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>An error occurred.
          {% if status == 'isTaking' %}drop
          {% elif status == 'hasTaken' %}retake
          {% elif status == 'notTaken' %}enroll
          {% endif %} failed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- End modal -->
{% endblock %}
