<!-- Insert new component at head -->
<div class="row">
  <div class="col-sm-11">
    <a href="#">
      <div class="addComponent" id="0">
        <span class="glyphicon glyphicon-plus"></span>Add new component here
      </div>
    </a>
  </div>
</div>
<ul class="jumbotron-list" id="sortable">
{% for component in components %}
<!-- List components in module -->
{% if component.typeName == 'TEXT' %}
<li>
  <div class="row">
    <div class="col-sm-11">
      <div class="component jumbotron" id="{{ component.index }}">
        <p class="content-text">{{ component.content }}</p>
      </div>
    </div>
    <div class="col-sm-1">
      <a href="#">
        <span class="glyphicon glyphicon-remove delete" id="{{ component.index }}"></span>
      </a>
    </div>
  </div>

  <!-- Insert new module behind this module -->
  <div class="row">
    <div class="col-sm-11">
      <a href="#">
        <div class="addComponent" id="{{ component.index|add:1 }}">
          <span class="glyphicon glyphicon-plus"></span>Add new component here
        </div>
      </a>
    </div>
  </div>
</li>
{% elif component.typeName == 'IMAGE' %}
<li>
  <div class="row">
    <div class="col-sm-6">
      <div class="component jumbotron" id="{{ component.index }}">
        <img class="content-img" src="{{ component.content.url }}"/>
      </div>
    </div>
    <div class="col-sm-1">
      <a href="#">
        <span class="glyphicon glyphicon-remove delete" id="{{ component.index }}"></span>
      </a>
    </div>
  </div>

  <!-- Insert new module behind this module -->
  <div class="row">
    <div class="col-sm-6">
      <a href="#">
        <div class="addComponent" id="{{ component.index|add:1 }}">
          <span class="glyphicon glyphicon-plus"></span>Add new component here
        </div>
      </a>
    </div>
  </div>
</li>
{% elif component.typeName == 'VIDEO' %}
<li>
  <div class="row">
    <div class="col-sm-11">
      <div class="component jumbotron" id="{{ component.index }}">
        <iframe class="content-vdo" src="{{ component.content }}" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="col-sm-1">
      <a href="#">
        <span class="glyphicon glyphicon-remove delete" id="{{ component.index }}"></span>
      </a>
    </div>
  </div>

  <!-- Insert new module behind this module -->
  <div class="row">
    <div class="col-sm-11">
      <a href="#">
        <div class="addComponent" id="{{ component.index|add:1 }}">
          <span class="glyphicon glyphicon-plus"></span>Add new component here
        </div>
      </a>
    </div>
  </div>
</li>
{% else %}
<li>
  <div class="row">
    <div class="col-sm-11">
      <div class="component jumbotron" id="{{ component.index }}">
        <a class="content-file link" href="{{ component.content.url }}" download>
          <span class="glyphicon glyphicon-save"></span>
          {{ component.content.name }}
        </a>
      </div>
    </div>
    <div class="col-sm-1">
      <a href="#">
        <span class="glyphicon glyphicon-remove delete" id="{{ component.index }}"></span>
      </a>
    </div>
  </div>

  <!-- Insert new module behind this module -->
  <div class="row">
    <div class="col-sm-11">
      <a href="#">
        <div class="addComponent" id="{{ component.index|add:1 }}">
          <span class="glyphicon glyphicon-plus"></span>Add new component here
        </div>
      </a>
    </div>
  </div>
</li>
{% endif %}
{% endfor %}
</ul>
<div class="scroll-over"></div>
