<!-- Insert new module at head -->
<a href="#">
  <div class="addModule col-sm-11" id="0">
    <span class="glyphicon glyphicon-plus"></span>Add new module here
  </div>
</a>
<ul class="jumbotron-list" id="sortable">
{% for module in modules %}
<!-- List modules in course -->
  <li>
    <div class="row">
      <div class="col-sm-11">
        <a href="#">
          <div class="module jumbotron" id="{{ module.index }}">
            <p class="module-name">{{ module.name }}</p>
            <p class="module-desc">{{ module.description }}</p>
          </div>
        </a>
      </div>
      <div class="col-sm-1">
        <a href="#">
          <span class="glyphicon glyphicon-remove delete" id="{{ module.index }}"></span>
        </a>
      </div>
    </div>

    <!-- Insert new module behind this module -->
    <a href="#">
      <div class="addModule col-sm-11" id="{{ module.index|add:1 }}">
        <span class="glyphicon glyphicon-plus"></span>Add new module here
      </div>
    </a>
  </li>
{% endfor %}
</ul>
<div class="scroll-over"></div>
