<div class="row page-header">
  <div class="col-sm-10">
    <h4 class="course-desc">{{ course.description }}</h4>
  </div>
  <div class="col-sm-2">
    <button type="button" {% if hasEnrolled %}disabled{% endif %} class="btn btn-default btn-lg btn-enroll" id="{{ course.id }}">Enroll</button>
  </div>
</div>
{% for module in modules %}
<div class="module jumbotron" id="{{ module.id }}">
  <p class="module-name">{{ module.name }}</p>
  <p class="module-desc">{{ module.description }}</p>
</div>
{% endfor %}
<!-- Enroll successful modal dialog -->
<div class="modal fade" id="enrollSuccessModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Success</h4>
      </div>
      <div class="modal-body">
        <p>You have successfully enrolled in</p>
        <p>{{ course.name }}!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div> <!-- End modal -->

<!-- Enroll failed modal dialog -->
<div class="modal fade" id="enrollFailModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>An error occurred. Enrollment failed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- End modal -->
